/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.view-container {
  padding: 80px 150px;
  height: calc(100vh - 160px);
  overflow-y: auto;
}